<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .error {
      display: none;
    }

    .error.show {
      display: initial;
    }
  </style>
</head>

<body>
  <form action="/users" method="POST">
    <label>First Name:
      <input type="text" name="name" value="<%= locals.name %>">
      <span class="error <%= locals.errorClass %>">
        <%= locals.errorMessage %>
      </span>
    </label>
    <button>Submit</button>
  </form>
</body>

</html>